body{
  background-color:black
}
*{
  font-family:Arial;
  color:white
  text-align: center
}

.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  align: center
}

.skibidi {
  color:red
}

.smolpara{
  font-family:Arial;
  color:white
  text-align: center
}

